numpy
pandas
scipy
requests
sqlalchemy
pyodbc
psycopg2-binary
geopandas
shapely
pyproj
fiona
rasterio
rtree
folium
branca
geopy
matplotlib
seaborn
plotly
statsmodels
scikit-learn
ruptures
xgboost
shap
joblib
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
jupyterthemes
ipywidgets
jupyterlab
qgrid
voila
ipython
line_profiler
memory_profiler
autopep8
flake8
pre-commit
tqdm
lxml
dash
streamlit
taipy
openpyxl
petbox_dca
fastapi
uvicorn
spotfire
pymc
aesara
arviz
jax
blackjax
numba
dask[complete]
dask_geopandas
loky
